// align the avatar
ts-message .message_gutter {
  top: initial;
}

.light_theme ts-message {
  &.first, &.selected {
    .message_icon {
      margin: 0;
      text-align: center;
    }

    .message_content {
      margin-top: 0; // remove random 1px margin
    }
  }
}

// round the avatar
.member_image {
  border-radius: 4px;
}
