ts-message {
  padding: 2px 64px 2px 0;
  border: initial;
  color: $mono-1;
  font-size: 14px;

  .message_gutter {
    top: initial; // align the avatar
  }

  &:hover:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.new_reply) {
    background: $active-line;
  }
}

.light_theme ts-message {
  .message_gutter {
    width: 64px;
    padding: 0;
  }

  .message_content {
    margin-left: 64px;
  }

  &.first, &.selected {
    .message_icon {
      margin: 0;
      text-align: center;
    }

    .message_content {
      margin-top: 0; // remove random 1px margin
    }
  }
}

.member_image {
  border-radius: 2px; // round the avatar
}
