#client-ui * {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 300;

  &, &::before, &::after {
    font-feature-settings: 'liga' 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: initial;
  }
}

a, a:link, a:visited {
  color: $blue;
}

pre {
  border: 1px solid $black;
  color: $ui-white;
  font: 400 0.875rem/1.75 Menlo !important;
  background: $gray;
}

.popover_menu {
  border: 0;
  background: initial;

  .arrow, .arrow_shadow {
    &:after {
      // 1px bigger to make up for loss of border
      width: 11px;
      height: 11px;
    }
  }
}
