/* layout tweaks */
.ts_icon:before, ts-icon:before {
  font-size: 1rem;
}

/* disable bots like RightGIF */
.bot_message {
  display: none;
}

#client-ui * {
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#client-ui *, #client-ui *::before, #client-ui *::after {
  -webkit-font-feature-settings: 'liga' 0;
          font-feature-settings: 'liga' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: initial;
}

a, a:link, a:visited {
  color: #61afef;
}

pre {
  font: 400 0.875rem/1.75 Menlo !important;
  color: #9da5b4;
  border: 1px solid #181a1f;
  background: #21252b;
}

/* header border */
#client_body:not(.onboarding)::before {
  background: #21252b;
  border-bottom: 1px solid #181a1f;
}

/* footer container */
#footer:not(.footer_msg_input) {
  height: 5rem;
  background: #21252b;
  border-top: 1px solid #181a1f;
}

/* message container */
.day_container {
  bottom: 1rem;
}

/* new messages */
#msgs_div .unread_divider .divider_label {
  color: #98c379;
  background: #282c34;
}
#msgs_div .unread_divider hr {
  border-top-color: #73c990;
}
#msgs_div .unread_divider.no_unreads hr {
  border-top-color: #73c990;
}
#msgs_div .unread_divider.no_unreads .divider_label {
  color: #98c379;
}

/* search box at top */
#client_header .channel_header #search_container .search_form:hover .search_input {
  /*border: 1px solid transparent */
  border: none;
}

.search_form .search_input {
  color: #fff;
  /*border: 1px solid transparent */
  border: none;
  box-shadow: inset 0 0 0 1px #181a1f;
  background: #1b1d23 !important;
}

.search_form .search_input:focus {
  /*border: 1px solid transparent */
  border: none;
  box-shadow: inset 0 0 0 2px #528bff;
}

/* header elements with a white background */
#client_header .channel_header #channel_header_info, #client_header .channel_header .channel_title_info, #client_header .channel_header .flex_header {
  background: initial;
}
#client_header .channel_header .channel_header_icon {
  color: #9da5b4;
}
#client_header .channel_header .channel_header_icon.channel_calls_button .call_icon.call_window_offline {
  color: rgba(157, 165, 180, 0.375);
}

/* message */
.light_theme ts-message .message_content .member {
  /*color: $ui-blue !important */
  color: #98c379 !important;
}

ts-message .timestamp
ts-message .action_hover_container {
  border: 1px solid #181a1f;
}

ts-message .action_hover_container a {
  background: #353b45;
}

ts-message .action_hover_container,
ts-message .action_hover_container a:first-child,
ts-message .action_hover_container a:last-child {
  border-radius: 0;
}

ts-message:hover:not(.standalone):not(.multi_delete_mode):not(.highlight) {
  background: #2c323c;
}

body,
#col_channels,
#team_menu,
#quick_switcher_btn {
  background: #21252b;
}

#team_menu,
#quick_switcher_btn {
  border-color: transparent;
}

#team_menu:hover,
#quick_switcher_btn:hover {
  background: #31363f;
}

#quick_switcher_btn > i {
  color: #9da5b4;
}

#quick_switcher_btn:hover > i {
  color: white;
}

/* channel name and prefix */
#channels_scroller.show_which_channel_is_active ul li.active a.channel_name .prefix,
#channels_scroller.show_which_channel_is_active ul li.active a.channel_name {
  color: white;
  background: #31363f;
}

#client-ui .msgs_holder {
  background: #282c34;
  border-left: 1px solid #181a1f;
  border-right: 1px solid #181a1f;
}

/* message input */
#primary_file_button,
#messages-input-container #message-input {
  color: #9da5b4;
  background: #1b1d23;
  border-color: #181a1f;
}

#messages-input-container #message-input:focus {
  border-color: #528bff;
}

.channels_list_holder ul li a,
#channel_title,
.message_content {
  color: #9da5b4;
}

.channels_list_holder ul li a {
  border-radius: 0;
}

.unread .ts_icon_channel_pane_hash::before,
.unread .channel_name {
  color: #e2c08d;
}

#channel_scroll_up,
#channel_scroll_down {
  background: #73c990;
}

.member_image {
  border-radius: 50%;
}

/* filename link */
.meta.msg_inline_file_preview_toggler .msg_inline_file_preview_title {
  color: #61afef;
}

.file_container.image_container .image_bg {
  border-radius: 0;
  box-shadow: none;
}

/* add file button */
#primary_file_button:hover {
  background: #528bff;
  border-color: #528bff;
}

#messages-input-container.focus #primary_file_button:not(:hover) {
  border-color: #528bff;
}

.tooltip-inner {
  background: #528bff;
}

/* day divider */
.day_divider .day_divider_label {
  color: #abb2c0;
  background: #282c34;
}
